In [1]:
! pip install bs4

Requirement already satisfied: bs4 in e:\files\anaconda\lib\site-packages (0.0.1)
Requirement already satisfied: beautifulsoup4 in e:\files\anaconda\lib\site-packages (from bs4) (4.10.0)
Requirement already satisfied: soupsieve>1.2 in e:\files\anaconda\lib\site-packages (from beautifulsoup4->bs4) (2.2.1)

In [2]:
import requests

In [3]:
url="https://www.imdb.com/chart/top/"

In [4]:
response=requests.get(url)

In [5]:
response

In [6]:
# To check that your url is valid.
response.raise_for_status # url is valid

In [7]:
from bs4 import BeautifulSoup

In [8]:
soup=BeautifulSoup(response.text,"html.parser") #  Default Parser

In [9]:
#soup

In [10]:
movies=soup.find("tbody",class_="lister-list") # We only have the one tbody tag that's why we use find method
#print(movies)

In [11]:
movies=soup.find("tbody",class_="lister-list").find_all("tr")
print(len(movies)) # Awesome!

250

In [12]:
for movie in movies:
    name=movie.find("td",class_="titleColumn").find("a").text
    #print(name) # We extract the name of the movies

In [13]:
# Now extract the rank of the movies

for movie in movies:
    rank=movie.find("td",class_="titleColumn").get_text(strip=True)
    #print(rank)

In [14]:
 # Now extract the rank of the movies

for movie in movies:
    rank=movie.find("td",class_="titleColumn").get_text(strip=True).split(".")[0]
    #print(rank)

In [15]:
# Now extract the year of the movie
for movie in movies:
    year=movie.find("td",class_="titleColumn").find("span").text.strip(" ( ) ")
   # print(year)

In [16]:
# Now to extarct the rating of the movies.

for movie in movies:
    rating=movie.find("td",class_="ratingColumn imdbRating").find("strong").get_text()
   # print(rating)

In [43]:
# I do each step individually, Let do it in a one single loop.
rank1=[]
name1=[]
year1=[]
rating1=[]

for movie in movies:
    name=movie.find("td",class_="titleColumn").find("a").text
    #print(name) # We extract the name of the movies
    rank=movie.find("td",class_="titleColumn").get_text(strip=True).split(".")[0]
    year=movie.find("td",class_="titleColumn").find("span").text.strip(" ( ) ")
    rating=movie.find("td",class_="ratingColumn imdbRating").find("strong").get_text()
    rank1.append(rank)
    name1.append(name)
    year1.append(year)
    rating1.append(rating)

In [49]:
# Creating DataFrame from list

import pandas as pd

df=pd.DataFrame(list(zip(rank1,name1,year1,rating1)),columns=["Rank","Name","Year","Rating"])
df.head()

  Rank                      Name  Year Rating
0    1  The Shawshank Redemption  1994    9.2
1    2             The Godfather  1972    9.1
2    3    The Godfather: Part II  1974    9.0
3    4           The Dark Knight  2008    9.0
4    5              12 Angry Men  1957    8.9

In [50]:
# Now let save this dataframe into csv

df.to_csv("movie_data.csv")